:root {
  --dark: #01080f;
  --light: #f3faff;
  --primary: #FFEB47;
  --primary-alpha: hsl(53 100% 64% / 20%);
  --secondary: #2da4f4;
  --secondary-alpha: hsl(204 90% 57% / 20%);
  --tertiary: #ff6347;
  --tertiary-alpha: hsl(9 100% 64% / 20%);

  --dark-light-scheme: #020a12;
  --light-light-scheme: #fcfdee;
  --primary-light-scheme: #f1d928;
  --secondary-light-scheme: #148cdd;
  --tertiary-light-scheme: #f24f33;

  --dark-1: color-mix(in srgb, #010d15, #f3faff 90%);

  --sans: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  --serif: font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
  --mono: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;

  /* Utopia Font Size Vars */
  --step--2: clamp(0.7901rem, 0.7867rem + 0.0172vi, 0.8rem);
  --step--1: clamp(0.8889rem, 0.8502rem + 0.1932vi, 1rem);
  --step-0: clamp(1rem, 0.913rem + 0.4348vi, 1.25rem);
  --step-1: clamp(1.125rem, 0.9728rem + 0.7609vi, 1.5625rem);
  --step-2: clamp(1.2656rem, 1.0265rem + 1.1957vi, 1.9531rem);
  --step-3: clamp(1.4238rem, 1.0699rem + 1.7697vi, 2.4414rem);
  --step-4: clamp(1.6018rem, 1.0975rem + 2.5217vi, 3.0518rem);
  --step-5: clamp(1.802rem, 1.102rem + 3.5003vi, 3.8147rem);
  /* --step--2: clamp(0.72rem, 0.6922rem + 0.1391vi, 0.8rem);
  --step--1: clamp(0.9rem, 0.8652rem + 0.1739vi, 1rem);
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
  --step-1: clamp(1.4063rem, 1.3519rem + 0.2717vi, 1.5625rem);
  --step-2: clamp(1.7578rem, 1.6899rem + 0.3397vi, 1.9531rem);
  --step-3: clamp(2.1973rem, 2.1123rem + 0.4246vi, 2.4414rem);
  --step-4: clamp(2.7466rem, 2.6404rem + 0.5307vi, 3.0518rem);
  --step-5: clamp(3.4332rem, 3.3005rem + 0.6634vi, 3.8147rem); */

  /* Utopia Spacing Vars */
  --space-3xs: clamp(0.25rem, 0.2283rem + 0.1087vi, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4565rem + 0.2174vi, 0.625rem);
  --space-xs: clamp(0.75rem, 0.6848rem + 0.3261vi, 0.9375rem);
  --space-s: clamp(1rem, 0.913rem + 0.4348vi, 1.25rem);
  --space-m: clamp(1.5rem, 1.3696rem + 0.6522vi, 1.875rem);
  --space-l: clamp(2rem, 1.8261rem + 0.8696vi, 2.5rem);
  --space-xl: clamp(3rem, 2.7391rem + 1.3043vi, 3.75rem);
  --space-2xl: clamp(4rem, 3.6522rem + 1.7391vi, 5rem);
  --space-3xl: clamp(6rem, 5.4783rem + 2.6087vi, 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.1196rem + 0.6522vi, 0.625rem);
  --space-2xs-xs: clamp(0.5rem, 0.3478rem + 0.7609vi, 0.9375rem);
  --space-xs-s: clamp(0.75rem, 0.5761rem + 0.8696vi, 1.25rem);
  --space-s-m: clamp(1rem, 0.6957rem + 1.5217vi, 1.875rem);
  --space-m-l: clamp(1.5rem, 1.1522rem + 1.7391vi, 2.5rem);
  --space-l-xl: clamp(2rem, 1.3913rem + 3.0435vi, 3.75rem);
  --space-xl-2xl: clamp(3rem, 2.3043rem + 3.4783vi, 5rem);
  --space-2xl-3xl: clamp(4rem, 2.7826rem + 6.087vi, 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(1rem, 0.4783rem + 2.6087vi, 2.5rem);
  /* 
  --space-3xs: clamp(0.25rem, 0.2283rem + 0.1087vi, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4565rem + 0.2174vi, 0.625rem);
  --space-xs: clamp(0.75rem, 0.6848rem + 0.3261vi, 0.9375rem);
  --space-s: clamp(1rem, 0.913rem + 0.4348vi, 1.25rem);
  --space-m: clamp(1.5rem, 1.3696rem + 0.6522vi, 1.875rem);
  --space-l: clamp(2rem, 1.8261rem + 0.8696vi, 2.5rem);
  --space-xl: clamp(3rem, 2.7391rem + 1.3043vi, 3.75rem);
  --space-2xl: clamp(4rem, 3.6522rem + 1.7391vi, 5rem);
  --space-3xl: clamp(6rem, 5.4783rem + 2.6087vi, 7.5rem); */

  /* One-up pairs */
  /* --space-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435vi, 0.625rem);
  --space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522vi, 0.9375rem);
  --space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vi, 1.25rem);
  --space-s-m: clamp(1.125rem, 0.8641rem + 1.3043vi, 1.875rem);
  --space-m-l: clamp(1.6875rem, 1.4049rem + 1.413vi, 2.5rem);
  --space-l-xl: clamp(2.25rem, 1.7283rem + 2.6087vi, 3.75rem);
  --space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vi, 5rem);
  --space-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174vi, 7.5rem); */

  /* Custom pairs */
  /* --space-s-l: clamp(1.125rem, 0.6467rem + 2.3913vi, 2.5rem); */
  --content-width: min(65ch, 90vw);
  /* --content-width: min(48.5rem, 90vw); */
  --content-gutter: var(--space-s-l, clamp(1.125rem, 0.6467rem + 2.3913vw, 2.5rem));

  --transition: 200ms ease-in-out;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  --background: var(--dark);
  --foreground: var(--light);
  --accent: var(--secondary);
  --primary: var(--secondary);
  --primary-alpha: var(--secondary-alpha);

  background-color: var(--background);
  background-image: url("/public/images/pagebg.svg");
  background-repeat: repeat;
  color: var(--foreground);
  font-family: var(--sans);
  font-size: var(--step-0);
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: var(--space-m-l);
  overflow-y: scroll;
  scrollbar-gutter: stable;
  scrollbar-width: auto;
  scrollbar-color: var(--dark-1) var(--background);
  line-height: 1.7;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  max-width: 10px;
  max-height: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--background) !important;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-1);
  border-radius: 5px;
}

/* Lazy Text Utility Classes */
.text-small {
  font-size: var(--step--1);
}

.text-med {
  font-size: var(--step-1);
}

.text-large {
  font-size: var(--step-2);
}

.sans {
  font-family: var(--sans);
}

.serif {
  font-family: var(--serif);
}

.mono {
  font-family: var(--mono);
}

.center {
  text-align: center;
}

a:not([class], [id]) {
  color: var(--foreground);
  text-decoration: underline;
  transition: color var(--transition), text-decoration var(--transition);
}

a:not([class], [id]):hover,
a:not([class], [id]):focus {
  text-decoration: none;
  color: var(--accent);
}

a[target^="_blank"]::after {
  content: "";
  width: 1rem;
  height: 1rem;
  margin-inline-start: 0.25rem;
  color: var(--primary);
  background-image: url("/public/images/external-link-line.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}

h1,
h2,
h3,
h4 {
  font-family: var(--sans);
  font-weight: 800;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

& h1 {
  font-size: var(--step-3);
  max-width: 20ch;
}

& h2 {
  font-size: var(--step-2);
  max-width: 28ch;
}

& h3 {
  font-size: var(--step-1);
  max-width: 28ch;
}

& h4 {
  font-size: var(--step-0);
}

time {
  font-size: var(--step--1);
  font-family: var(--mono);
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

header {
  & .header-inner {
    border-bottom: 0.25ex solid var(--accent);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    padding-block-start: var(--space-xs);
    padding-block-end: var(--space-3xs);
  }

  & nav ul {
    display: flex;
    gap: var(--space-xs-s);
    align-items: baseline;
    list-style-type: none;
    font-size: var(--step--1);
    font-family: var(--sans);
    margin: 0;
    padding: 0;
  }

  & .header-sub {
    display: flex;
    justify-content: space-between;
  }

  & .header-sub span {
    padding: var(--space-3xs);
    line-height: 1;
  }
}

footer {
  margin-top: auto;

  .footer-inner {
    border-top: 0.25ex solid var(--accent);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-block-start: var(--space-3xs);
    padding-block-end: var(--space-xs);
  }

  & nav ul {
    display: flex;
    list-style-type: none;
    align-items: flex-start;
    gap: var(--space-xs-s);
    margin: 0;
    padding: 0;
  }

  .copyright {
    font-size: var(--step--1);
    font-family: var(--sans);
  }
}

.nav-link {
  /* font-family: sans; */
  text-decoration: none;
  color: var(--foreground);
  font-weight: 600;
  letter-spacing: 0.125ex;
  line-height: 1;
  transition: color var(--transition);
}

.nav-link:hover,
.current {
  color: var(--primary);
}

.section-header {
  width: 100%;
  display: flex;
  flex-direction: column;

  /* align-items: stretch; */
  align-items: center;
  gap: var(--space-3xs-2xs);
  /* border: 1px solid var(--primary); */
  /* padding: var(--space-xs); */
  /* color: var(--background); */
  /* align-items: baseline; */

  & h1 {
    text-align: center;
  }

  & p,
  span {
    text-align: center;
    max-width: 50ch;
    line-height: 1.7;
  }
}

#main-site-link {
  font-size: var(--step-1);
  font-family: var(--sans);
  font-weight: 700;
  letter-spacing: 0.125ex;
  color: var(--foreground);
  text-decoration: none;
  transition: color var(--transition);
}

#main-site-link:hover {
  color: var(--foreground);
}

.content-container {
  width: var(--content-width);
  margin-inline: auto;
}

.post-list-section {
  display: flex;
  flex-direction: column;
  gap: var(--space-m-l);
}

.post-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: var(--space-xs-s);
}

.post-preview {

  & h1,
  h2,
  h3,
  h4 {
    font-size: var(--step-1);
  }

  & time {
    font-size: var(--step--1);
  }

  & p {
    font-size: var(--step--1);
    max-width: 70ch;
  }
}

.post {
  & p {
    line-height: calc(1ex / 0.32);
    margin-bottom: calc(1ex / 0.32) 0;
  }

  & h1 {
    margin-bottom: calc(1ex / 1.42);
  }

  & h2 {
    line-height: calc(1ex / 0.42);
    margin-top: calc(1ex / 0.42);
    margin-bottom: 0;
  }

  & h3 {
    line-height: calc(1ex / 0.38);
    margin-top: calc(1ex / 0.38);
    margin-bottom: 0;
  }

  & h4 {
    line-height: calc(1ex / 0.37);
    margin-top: calc(1ex / 0.37);
    margin-bottom: 0;
  }
}

.highlight {
  background-color: var(--primary-alpha);
  background-blend-mode: overlay;
  padding: var(--space-2xs);
  line-height: 1;

  & a:hover {
    color: var(--foreground);
  }
}

.note {
  padding-inline: var(--space-s);
  border: 1px solid var(--secondary);
  color: var(--secondary);
  font-style: italic;
  background: color-mix(in srgb, var(--light) 2%, var(--dark));
}

code:not(pre>code) {
  display: inline-block;
  background-color: var(--background);
  padding: 0.25em;
  color: var(--primary);
  border: 1px solid color-mix(in srgb, var(--primary) 30%, var(--background));
  line-height: 1;
}

.lede {
  font-family: var(--serif);
  font-weight: normal;
  font-size: var(--step-1);
  font-style: italic;
  max-width: 50ch;
  margin-bottom: var(--space-m);
  padding-inline: auto;
  border-block: 0.125ex solid var(--foreground);
  padding-block: var(--space-xs);
}

.icon {
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.utf {
  font-size: 1.2em;
  line-height: 1;
}

.icon-link,
.utf-link {
  color: currentColor;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-family: var(--sans);
}

.subscribe-list {
  margin-block: var(--space-s);

  & li {
    margin-bottom: var(--space-s);
  }
}

.no-marker {
  list-style-type: none;
  margin-inline: 0;
  padding: 0;

  & li {
    display: flex;
    align-items: center;
    gap: var(--space-s);
  }
}

@media (prefers-color-scheme: light) {
  body {
    --background: var(--light-light-scheme);
    --foreground: var(--dark-light-scheme);
    --primary: var(--secondary-light-scheme);
    --secondary: var(--primary-light-scheme);
    --tertiary: var(--tertiary-light-scheme);
    --primary-alpha: var(--secondary-alpha);
    --accent: var(--primary);
    background-blend-mode: exclusion;
  }
}