package subscribe

import "jeffcaldwell.is/view/layout"

templ Index(current string) {
	@layout.Base("Jeff Caldwell — Subscribe", current) {
		<section class="content-container">
			<div class="section-header">
				<h2>Subscribe</h2>
			</div>
		</section>
	}
}
