package project

import "jeffcaldwell.is/view/layout"

templ Index(current, remoteAddr string) {
	@layout.Base("Jeff Caldwell — Projects", current, remoteAddr) {
		<section class="content-container page">
			<div class="section-header highlight">
				<h2>Projects</h2>
				<p>I'm still working on this. I promise it will be done soon!</p>
			</div>
		</section>
	}
}
