package blog

import "jeffcaldwell.is/view/layout"

templ BlogRoll() {
	@layout.Base("Jeff Caldwell — Blogroll") {
		<section class="layout-container page flow">
			<div class="section-header highlight">
				<h2>Blogroll</h2>
				<p>I'm still working on this. Check back soon(ish)!</p>
			</div>
		</section>
	}
}
