package blog

import "jeffcaldwell.is/view/layout"

templ Calendar() {
	@layout.Base("Jeff Caldwell — Post Calendar") {
		<section class="layout-container page flow">
			<div class="section-header highlight">
				<h2>Post Calendar</h2>
			</div>
			<div
				hx-get="/blog/stats"
				hx-swap="innerHTML"
				hx-trigger="load: once"
				class="flow"
			></div>
		</section>
	}
}
