package component

// templ BlogHead(description string) {
// <meta name="description" content={description}>
templ BlogHead() {
	// need meta description
	<script src="https://unpkg.com/htmx.org@1.9.10"></script>
}

templ BlogScripts() {
	// <script src="/public/script/prism.js"></script>
	<script src="/public/script/shiki.js" type="module"></script>
}
