package component

templ BlogHead() {
	// need meta description
	<link rel="stylesheet" href="/public/script/highlight/styles/night-owl.min.css"/>
	<script src="/public/script/highlight/highlight.min.js"></script>
	<script>hljs.highlightAll()</script>
	// <link rel="stylesheet" href="/public/style/nightowl-chroma.css"/>
}
