package component

import (
  "jeffcaldwell.is/model"
  )

func makeLinkFromSlug(slug string) string {
  return "/blog/" + slug
}

templ PostPreview(post *model.Post) {
	<article class="post-preview">
		<h3>
		  <a href={templ.SafeURL(makeLinkFromSlug(post.Slug))}>{post.Title}</a>
		</h3>
    @FormattedDateTime(post.PubDate)
		<p>
			{ post.Summary }
		</p>
	</article>
}
