package home

import "jeffcaldwell.is/view/layout"

templ Index() {
	@layout.Base("Jeff Caldwell's new page") {
		<section class="post-list content-container">
			<h2>Latest Posts</h2>
		</section>
	}
}
