package home

import "jeffcaldwell.is/view/layout"

templ Index(current string) {
	@layout.Base("Jeff Caldwell's new page", current) {
		<section class="post-list content-container">
			<div class="section-header">
				<h2>Latest Posts</h2>
			</div>
		</section>
	}
}
