package about

import "jeffcaldwell.is/view/layout"

templ Index(current string) {
	@layout.Base("JeffCaldwell — About", current) {
		<section class="post-list content-container">
			<div class="section-header">
				<h2>About</h2>
			</div>
		</section>
	}
}
