package now

import "jeffcaldwell.is/view/layout"

templ Index() {
	@layout.Base("JeffCaldwell — Now") {
		<section class="content-container page">
			<div class="section-header highlight">
				<h2>Now</h2>
			</div>
		</section>
	}
}
